@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --main-color: #65C466;
    --main-text-color1: white;
    --main-text-color2: #414141;
    --main-border-radius: 5px;
}

/*font-family: 'Cormorant Garamond', serif;*/
body, html {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 8px 4% 0;
}

/*.img-block {*/
/*    display: none;*/
/*}*/

/*.flex-position {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: baseline;*/
/*}*/


@media screen and (min-width: 1920px) {
    .container {
        padding: 8px 6% 0;
    }
}