@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --main-color: #65C466;
    --main-text-color1: white;
    --main-text-color2: #414141;
    --main-border-radius: 5px;
}

/*font-family: 'Cormorant Garamond', serif;*/
body, html {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 8px 4% 0;
}

.contacts h2 {
    width: 110%;
    margin: 6px 0;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
}

.contacts p {
    margin: 0;
    font-size: 12px;
}

.img-block {
    display: none;
}

.align-center {
    text-align: center;
}

.height-center {
    display: flex;
    align-items: center;
}

.white-h2 {
    color: var(--main-text-color1);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.center-white-p,
.white-p {
    color: var(--main-text-color1);
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
}

.center-white-p {
    text-align: center;
}

.cards_wrapper {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
}

.services1,
.services3 {
    width: 171px;
    height: 254px;
    background-image: url("../img/building.png");
}

.services2 {
    width: 190px;
    height: 286px;
    background-image: url("../img/repair-of-equipment.png");
}

.services3 {
    background-image: url("../img/english-courses.png");
}

.services1,
.services2,
.services3 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    box-sizing: border-box;
    border-radius: var(--main-border-radius);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 16px;
    margin: 0 15px;
}

.line-block {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}

.line {
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background-color: lightgrey;
}

.line:first-child {
    background-color: var(--main-color);
}

.flex-center1,
.flex-center {
    display: flex;
    justify-content: center;
}

.flex-center1 img {
    margin: 0 10px;
}

.height-center > img {
    width: 30px;
}

.flex-center1 img {
    width: 30px;
}

.height-center,
.services1,
.services3 {
    display: none;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: calc(50% - 80px);
    min-width: 220px;
    border: 1px solid lightgray;
    border-radius: var(--main-border-radius);
    margin: 15px 30px;
    padding: 10px;
}

.card:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.img-card-block {
    display: flex;
    align-items: center;
}

.img-card-block > img {
    width: 70px;
    height: 70px;
}

.card-h2 {
    font-weight: 500;
    font-size: 11px;
}

.card-p {
    color: #9D9D9D;
    font-size: 9.7px;
    line-height: 13px;
}

.h1-text-color {
    margin: 20px 0;
    color: black;
    font-family: 'Cormorant Garamond', serif;
    font-size: 27px;
    font-weight: 100;
    letter-spacing: -1px;
    line-height: 40px;
    text-transform: uppercase;
}

.flex-height-center {
    display: flex;
    align-items: center;
}

.circle {
    height: 9px;
    width: 9px;
    min-width: 9px;
    min-height: 9px;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    margin: 10px 10px 10px 0;
}

.p-color {
    font-size: 14px;
    font-weight: 500;
}

.img-phone-block {
    order: 2;
}

.img-phone-block img {
    width: 168px;
}

.block-width {
    width: 100%;
    min-width: 160px;
    max-width: 260px;
}

.form-input {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    padding: 9px 0;
}

.form-input input {
    padding: 10px 4px 10px 20px;
    border: none;
    border-bottom: 1px solid gray;
}

.form-input label {
    color: #A9A9A9;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.form-input img {
    position: absolute;
    height: 16px;
    width: 16px;
    bottom: 20px;
    left: 0;
}

.small-p-style {
    color: lightgrey;
    font-size: 8px;
    text-align: center;
}

.small-p-style a {
    color: black;
}

.feedback {
    width: 299px;
    height: 167px;
    border-radius: var(--main-border-radius);
    padding: 20px;
    background: #FFFFFF;
    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.08);
}

.feedback p {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
}

.flex-height-center img {
    width: 77%;
    padding: 10px 0;
}

.flex-height-center > .img-width {
    width: 18%;
}

.h2-style {
    font-size: 20px;
    margin: 3px 20px;
    font-family: 'Cormorant Garamond', serif;
}

.feedback .green-color {
    font-size: 10px;
    margin: 0 20px;
    color: var(--main-color);
}

.dis-none {
    display: none;
}

.center-sm {
    margin: auto;
}

.flex-position {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #243246;
    color: var(--main-text-color1);
    padding: 20px;
}

.dis-flex {
    display: flex;
}

.number-p {
    font-size: 13px;
    line-height: 14px;
    color: #9D9D9D;
}

.white-span {
    color: var(--main-text-color1);
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.img-pudding {
    width: 25px;
    padding: 0 3px;
}

.white-card-p {
    font-size: 11px;
    line-height: 13px;
    color: var(--main-text-color1);
}

.order1 {
    order: 1;
    box-sizing: border-box;
    width: 100%;
    height: 121px;
    margin: 0 0 20px 20px;
    justify-content: center;
}

.h2-column {
    height: 121px;
    width: 294px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.h2-column h2 {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.order2 {
    order: 3;
    align-items: flex-start;
    margin-left: auto;
}

.order3 {
    order: 2;
    padding: 7px 0 0 0;
}

.order3 .flex-align-center p {
    margin-top: 0;
}

.order4 {
    order: 4;
    width: 100%;
    text-align: center;
}

.order5 {
    order: 5;
    margin: auto;
}

.order5 p {
    margin: 0;
}

@media screen and (min-width: 768px) {

    .height-center,
    .services1,
    .services3 {
        display: flex;
    }

    .flex-center1 {
        display: none;
    }

    .card {
        height: calc(50% - 60px);
    }

    .header {
        padding: 14px 30px;
        font-size: 1.4em;
    }

    .line {
        height: 4px;
    }

    .height-center > img {
        width: 35px;
    }

    .card-container {
        height: 423px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .big-flex {
        display: flex;
    }

    .big-width {
        width: 42%;
    }

    .img-phone-block {
        order: 0;
        margin: auto;
    }

    .img-phone-block img {
        width: 230px;
    }

    .center-sm:before {
        content: url("../img/leftArrow.png");
        width: 25px;
        height: 22px;
        border: 1px solid var(--main-color);
        border-radius: 50%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: calc(50% - 22px);
        left: -11px;
        padding-bottom: 3px;
    }

    .dis-none {
        display: block;
        margin: auto;
    }

    .center-sm,
    .dis-none {
        position: relative;
    }

    .dis-none:after {
        content: url("../img/rightArrow.png");
        width: 25px;
        height: 22px;
        border: 1px solid var(--main-color);
        border-radius: 50%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: calc(50% - 22px);
        right: -11px;
        padding-bottom: 3px;
    }

    .width-div {
        width: 50%;
        margin: auto;
    }

    .img-pudding {
        padding: 10px 3px 0;
    }

    .footer {
        height: 156px;
        flex-direction: column;
        padding: 20px;
    }

    .order1 {
        order: 3;
        box-sizing: border-box;
        width: calc(100% / 2);
        margin-bottom: 0;
        padding-left: 7%;
        justify-content: flex-start;
    }

    .h2-column {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .order1 h2:first-child,
    .order1 h2:nth-child(3) {
        width: 120px;
    }

    .order2 {
        order: 2;
        height: 80px;
        width: calc(100% / 4);
        top: 45px;
        margin-left: 0;
    }

    .order3 {
        order: 5;
        box-sizing: border-box;
        padding: 7px 0 0 40px;
        width: calc(100% / 4);
    }

    .order3 .flex-align-center img {
        margin: 0 10px 8px 0;
    }

    .number-p {
        font-size: 14px;
        line-height: 18px;
    }

    .order4 {
        order: 3;
        width: calc(100% / 3);
        text-align: center;
        margin: 0 auto;
    }

    .order5 {
        order: 1;
        width: calc(100% / 4);
        margin: 0;
    }

    .order5 p {
        margin: 11px 0;
        text-align: left;
        font-size: 15px;
        line-height: 18px;
    }
}

@media screen and (min-width: 1024px) {

    .card {
        height: auto;
    }

    .header {
        padding: 14px 30px;
        font-size: 1.4em;
    }

    .line {
        height: 5px;
    }

    .services1,
    .services3 {
        width: 228px;
        height: 339px;
    }

    .services2 {
        width: 253px;
        height: 380px;
    }

    .card-container {
        justify-content: space-between;
        height: auto;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .card {
        min-width: 0;
        width: calc(25% - 80px);
    }

    .card:nth-child(2) {
        order: 2;
    }

    .card:first-child {
        margin-left: 0;
    }

    .card:last-child {
        order: 3;
        margin-right: 0;
    }

    .img-phone-block img {
        width: 260px;
    }

    .footer {
        height: 128px;
        flex-direction: column;
        padding: 20px;
    }

    .order1 {
        box-sizing: border-box;
        width: calc(100% / 2);
        margin-bottom: 0;
        height: 92px;
        padding-left: 7%;
    }

    .h2-column {
        height: 81px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .order1 h2:first-child,
    .order1 h2:nth-child(3) {
        width: 120px;
    }

    .order2 {
        height: 80px;
        width: calc(100% / 4);
        top: 45px;
        margin-left: 0;
    }

    .order3 {
        box-sizing: border-box;
        padding: 7px 0 0 90px;
        width: calc(100% / 4);
    }

    .order3 .flex-align-center img {
        margin: 0 10px 8px 0;
    }

    .number-p {
        font-size: 14px;
        line-height: 18px;
    }

    .order4 {
        margin: 0 auto;
    }

    .order5 {
        height: 40px;
        width: calc(100% / 4);
        margin: 0;
    }
}

@media screen and (min-width: 1336px) {
    .line {
        margin-top: 10px;
    }

    .header {
        padding: 20px 40px;
        font-size: 1.8em;
    }

    .line {
        height: 6px;
    }

    .services1,
    .services3 {
        width: 276px;
        height: 412px;
    }

    .services2 {
        width: 307px;
        height: 462px;
    }

    .height-center > img {
        width: 40px;
    }

    .card {
        padding: 15px;
    }

    .img-card-block > img {
        width: 80px;
        height: 80px;
    }

    .card-h2 {
        font-weight: 500;
        font-size: 16px;
    }

    .card-p {
        font-size: 12px;
        line-height: 14px;
        color: #9D9D9D;
    }
}

@media screen and (min-width: 1920px) {
    .container {
        padding: 8px 6% 0;
    }

    .header {
        padding: 25px 60px;
        font-size: 1.9em;
    }

    .heading {
        font-size: 1.4em;
    }

    .height-center > img {
        width: 60px;
    }

    .services1,
    .services3 {
        width: 393px;
        height: 585px;
    }

    .services2 {
        width: 437px;
        height: 657px;
    }

    .services1,
    .services2,
    .services3 {
        padding: 45px;
    }

    .white-h2 {
        font-size: 20px;
        line-height: 24px;
    }

    .center-white-p,
    .white-p {
        font-size: 12px;
        line-height: 14px;
    }

    .line-block {
        width: 300px;
    }

    .line {
        width: 34px;
    }

    .card {
        width: calc(50% - 70px);
        min-width: 220px;
        margin: 15px 30px;
        padding: 5px;
    }

    .img-phone-block {
        width: 300px;
    }

    .block-width {
        width: 100%;
        min-width: 160px;
        max-width: 300px;
    }

    .small-p-style {
        font-size: 9px;
    }

    .feedback {
        width: 340px;
        height: 185px;
        padding: 20px;
    }
}